<a href="https://colab.research.google.com/github/RomzesKovalev/university/blob/main/extratasks/extask2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [17]:
numbers = input().split()
numbers = list(numbers)
cube_numbers = list(map(lambda x: int(x)**3, numbers))
print(cube_numbers)

1 2 3 4 5
[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [18]:
words = input().split()
words = list(words)
result = list(filter(lambda x: x[0] == x[-1], words))
print(result)

level python radar world rotor
['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [16]:
from functools import reduce
numbers = input().split()
numbers = [int(x) for x in numbers]
result = reduce(lambda x, y: x if x > y else y, numbers)
print(result)

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [4]:
list1, list2 = input().split(), input().split()
list1, list2 = list(list1), list(list2)
result = list(map(lambda x, y: (int(x)**2, int(y)**3), list1, list2))
print(result)

1 2 3
4 5 6
[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [5]:
numbers = input('Введите числа через запятую: ').split(',')
int_numbers = [int(x) for x in numbers]
summ = sum(filter(lambda y: y % 2 == 0, int_numbers))
print(summ)

Введите числа через запятую: 1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [6]:
celsius = input().split()
l_celsius = [float(x) for x in celsius]
result = list(map(lambda c: c * 9/5 + 32, l_celsius))
print(result)

0 15 30 100
[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [7]:
numbers = input("Введите числа через запятую: ").split(',')
int_numbers = [int(x) for x in numbers]
result = list(map(lambda x: x * x, filter(lambda x: x % 2 != 0, int_numbers)))
print(result)

Введите числа через запятую: 1, 2, 3, 4, 5, 6, 7, 8, 9
[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [8]:
from functools import reduce

numbers = input("Введите числа через запятую: ").split(',')
int_numbers = [int(x) for x in numbers]
result = reduce(lambda x, y: x * y, int_numbers)
print(result)

Введите числа через запятую: 1, 2, 3, 4, 5
120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [19]:
str_list = str(input()).split()
result = list(map(lambda x: int(x) if x.isdigit() else 0, str_list))
print(result)

10 20 abc 30 def
[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [10]:
x_coords = str(input()).split()
y_coords = str(input()).split()
result = list(map(lambda x, y: (int(x), int(y)), x_coords, y_coords))
print(result)

1 2 3
4 5 6
[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [11]:
words = input().split()
words = list(words)
result = dict(map(lambda word: (word, len(word)), words))
print(result)

apple banana cherry
{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [12]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
      return False
  return True

numbers = input().split(',')
numbers = [int(x) for x in numbers]
result = list(filter(lambda x: is_prime(x), numbers))
print(result)

2, 3, 4, 5, 6, 7, 8, 9, 10
[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [13]:
list1, list2, list3 = input().split(), input().split(), input().split()
list1, list2, list3 = [int(x) for x in list1], [int(x) for x in list2],[int(x) for x in list3]
result = list(map(lambda x, y, z: (x + y + z), list1, list2, list3))
print(result)

1 2 3
4 5 6
7 8 9
[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [14]:
from functools import reduce
text = input()
text_list = [a.lower() for a in text]
sym_counts = {}
for symbol in text_list:
    sym_counts[symbol] = sym_counts.get(symbol, 0) + 1
most_symbol = reduce(lambda a, b: a if sym_counts[a] > sym_counts[b] else b, sym_counts.keys())
print(f"'{most_symbol}' # {most_symbol} встречается чаще всего")

functional programing with lambda functions
'n' # n встречается чаще всего

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [15]:
from functools import reduce
words = input().split()
words = list(words)
glassnie_bukvi = 'aeiouy'
glassnie_count = list(map(lambda word: sum(1 for char in word.lower() if char in glassnie_bukvi), words))
summ_glassnix = reduce(lambda a, b: a + b, glassnie_count)
print(summ_glassnix)

python lambda functions map filter reduce
13

---